Package: host-api
Version: 2013-09-30.2
Architecture: all
Maintainer: Neil Stockbridge <neil@dist.ro>
Depends: ruby, ruby-json | libjson-ruby, ruby-net-ssh | libnet-ssh2-ruby
Description: A simple library to support using SSH for RPC
 Host API is a simple library that supports using SSH for RPC.
