Package: host-api
Version: 2013-09-29.1
Architecture: all
Maintainer: Neil Stockbridge <neil@dist.ro>
Depends: ruby, ruby-json, ruby-net-ssh
Description: A simple library to support using SSH for RPC
 Host API is a simple library that supports using SSH for RPC.
